<!-- {% extends "main/base.html" %}
{%block title%}My amazing blog{%endblock%}
{%block content%}
{%for entry in blog_entry%}
    <h2>{{entry.title}}</h2>
    <p>{{entry.body}}</p>
{%endfor%}
{%endblock%} -->
<!-- выше написали наследование от другого хтмл файла -->
<!-- то есть выше мы просто расширили то что было в base.html -->
<!-- <!DOCTYPE html>
<head>
    <title>title</title>
</head>
<body>
    <h1>{{project}}</h1>
    {% if today_is_weekend %}
        <p>Welcome to the weekend!</p>
    {% endif %}
    <ul>
        {% for task in task_list %}
            <li>{{task.name|cut:"T"}}</li>
        {% endfor %}
    </ul>
</body>
</html> -->
