<div *ngIf="product">
    <p *ngIf="product" class="image"><img src="{{product.image}}" width="100px"></p>
    <p *ngIf="product"><strong>Price:</strong> {{product.price | currency}}</p>
    <p *ngIf="product && product.description"><strong>Description:</strong> {{product.description}}</p>
    <p *ngIf="product"><strong>Rating:</strong> {{product.rating}}</p>
    <p>
        <strong>Likes: </strong>{{product.like}} 
        <button type="button" (click)="addLike(product)" style="background-color:rgb(240, 148, 194);">like</button> 
    </p>
    
</div>

